<header>
  <div id="cabecera-superior">
    <span class="icono-info">☎</span> 615 45 56 67 · <span class="icono-info">✉</span> info@ablimpieza.com
  </div>
  <div id="cabecera-pral">
    <div id="contenedor-logo">
      <a href="{{ '/' | relative_url }}"> <img src="{{ '/assets/img/logo-AB-limpieza.png' | relative_url }}" alt="{{ site.title }} logo"></a>
      </div> <!-- #contenedor-logo -->
  <nav>
	<ul>
		<li><a href="{{ '/' | relative_url }}">Inicio</a></li> <li><a href="{{ '/servicios' | relative_url }}">Servicios</a></li>
		<li><a href="{{ '/contacto' | relative_url }}">Contacto</a></li>
	</ul>
</nav>
</div> <!-- #cabecera-pral -->
</header>

